In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('../Placement-Predictor/placement.csv')

In [5]:
data['placement'].shape

(100,)

In [8]:
#Fetches the row which is given
data.iloc[1:11:2]

   Unnamed: 0  cgpa     iq  placement
1           1   5.9  106.0          0
3           3   7.4  132.0          1
5           5   7.1   48.0          1
7           7   5.0   63.0          0
9           9   5.1   66.0          0

In [ ]:
#These numbers in bracket tell the columns you want to fetch
data.iloc[:,[2,3]]

       iq  placement
0   123.0          1
1   106.0          0
2   121.0          0
3   132.0          1
4   142.0          0
..    ...        ...
95  200.0          0
96   42.0          0
97  182.0          1
98  103.0          1
99  113.0          1

[100 rows x 2 columns]